
/**
 * SVG as Embedded Code
 *
 * @note  Requires uncommenting the SVG code in the HTML.
 */
body {
  background-color: #714b39;
  overflow: hidden;
}

.svg-container {
  transform: scale(1.2);
  margin-top: calc(-8vh - calc(4vw - calc(100px - 4vw)));
}
