/** 
 * SVG as Background Image
 *
 * Aligns the background image in a way that keeps 
 * everything visible, aligned to top
 * 
 * @see   https://stackoverflow.com/questions/5965007/how-can-i-set-a-fixed-height-for-my-entire-webpage
 * @note  You really need media queries to keep the title near vert middle/top.
 * @note  I tried assigning all this to a div.wrapper and it didn't work.
 *        I ultimately had to apply what's live, below, to the `body`.
 * @note  Requires uncommenting the SVG code in the HTML.
 * @note  Background Position _old
 *        // background-position: 0 -500px;
 *        // background-position: auto -500px;
 *        // background-position: -900px auto auto auto;
 *        // background-position: 0vh -20vh;
 *        // background-position: top;
 *        // background-position: 50% -5vh, center;
 */
/*
body {
  // CONTENT
  text-align: center;
  
  // BACKGROUND
  background-image: url("https://ianthekirkland.com/beautifulbooks/_assets/bb-home.svg");
  background-attachment: fixed;
  background-size: cover;
  background-color: #2e3d53; 
  background-repeat: no-repeat;
  background-position: 50% 20%, top;
}
*/


/**
 * SVG as Embedded Code
 *
 * @note  Requires uncommenting the SVG code in the HTML.
 */
body {
  background-color: #2e3d53;
  overflow: hidden;
}

.svg-container {
  transform: scale(1.2);
  margin-top: calc(-8vh - calc(4vw - calc(100px - 4vw)));
}
